/*
      1- Common Styles
      2- General Styles
      3- Sections
           3.0 Header Section
           3.1 Home Section
           3.2 About Section
           3.3 Portfolio Section 
           3.4 Service Section 
           3.4 Prices Section 
           3.4 Team Section 
           3.4 Blog Section 
           3.4 Contact Section 
           3.4 Footer Section  
*/

/*
           
           
           
           */

/* 1- Common Styles */
/*
- overlay
- opacity hover
- section header
- section padding
- hover effect 1 ( left to right)
- hover effect 2 ( top to bottom)
*/

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.hover-opacity {
  transition: opacity 0.5s;
}

.hover-opacity:hover {
  opacity: 0.8;
}

.ltr-effect {
  position: relative;
}

.ltr-effect:after {
  position: absolute;
  content: "";
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0;
  background-color: #333;
  z-index: -1;
  transition: width 0.9s ease;
}

.ltr-effect:hover:after {
  width: 200%;
  background: linear-gradient(to left, salmon 50%, brown 50%) right;
}
/* 2- General CSS Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  height: 20%;
  margin: auto;
}

body {
  font-family: "Varela Round", sans-serif;
}

/* .clear {
  clear: both;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat, sans-serif;
}

button {
  font-family: "Varela Round" sans-serif;
}

a {
  text-decoration: none;
}

.pd-y {
  padding: 120px 0;
}

.section-header {
  text-align: center;
}

.section-header .section-title {
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.section-header .line {
  display: block;
  height: 5px;
  width: 60px;
  margin: 0 auto 70px;
  background-color: #6195ff;
}

/* 3- Sections Styles */
/* 3    .0 Header Section */

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* other way to solve the float problem which let the parent dont feel in children and cause proplems for next elements*/
.header-content {
  overflow: hidden;
}

.header .logo {
  width: 30%;
  float: left;
}

.header .logo img {
  width: 30%;
  margin-top: 15px;
}

.header .nav {
  width: 70%;
  list-style: none;
  float: left;
  text-align: right;
}

.header .nav li {
  display: inline-block;
  width: 80px;
  text-align: right;
}

.header .nav li a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px 15px;
}

/* Home Section */

.home {
  height: 100vh;
  background-image: url(../images/background/background1.webp);
  background-size: cover; /* css3 */
  position: relative;
}

.home-content {
  position: absolute;
  width: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home .title {
  color: rgb(238, 236, 231);
  font-size: 2.5rem;
  text-transform: uppercase;
}

.home-desc {
  margin: 20px 0;
  color: #fff;
  letter-spacing: 2px;
  line-height: 1.5;
}

.home .btn {
  width: 160px;
  padding: 15px 0;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 18px;
}

.home .btn-start {
  margin-right: 10px;
  background-color: white;
}

.home .btn-learn {
  background-color: #6195ff;
  color: white;
}

/* About Section 
.about {
}*/

.about-content {
  overflow: hidden;
}

.about-item {
  width: 30%;
  float: left;
  text-align: center;
  border: 1px solid #e8e8e8;
  padding: 50px 20px;
}

.about-item:hover .about-item-title {
  color: #fff;
}

.about-item.mg {
  margin: 0 5%;
}

.about-item .icon {
  color: #192049;
  margin-top: 5px;
  padding-bottom: 5px;
}

.about-item-title {
  text-transform: capitalize;
  margin-bottom: 10px;
  transition: color 0.5s;
}

.about-item-desc {
  color: #000;
  line-height: 1.6;
  margin-bottom: 10px;
}

.about-item-link {
  color: #177;
  text-transform: capitalize;
}

/* Portfolio Section */
.portfolio {
  background: #f9f9f9;
}

.portfolio-content {
  overflow: hidden;
}

.portfolio-item {
  width: 30%;
  float: left;
  margin-bottom: 60px;
  position: relative;
  padding: 10px;
}

.portfolio-item .layer-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
}

.portfolio-item:hover .layer-content {
  opacity: 1;
  visibility: visible;
}

.layer-content .layer-info {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.layer-content .category {
  color: #6195ff;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
  top: 10px;
  position: relative;
  transition: top 0.5s;
  transition-delay: .5s;
}

.layer-content-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
  top: 10px;
  position: relative;
  transition: top 0.5s;
  transition-delay: 0.5s;
}

.layer-content a {
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 10px;
  position: relative;
  background-color: #6195ff;
  transition: top 0.5s;
  transition-delay: .5s;
}

.layer-content a i {
  line-height: 40px;
}

.portfolio-item:hover .about-content-title,
.portfolio-item:hover .layer-content a,
.portfolio-item:hover .layer-content .category {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.portfolio-item.mg {
  margin: 0 5%;
}

.portfolio-item img {
  width: 100%;
}

/* Service Section */
/* Prices Section */
/* Team Section */
/* Blog Section */
/* Contact Section */
/* About Section */
