/*
      1- Common Styles
      2- General Styles
      3- Sections
           3.0 Header Section
           3.1 Home Section
           3.2 About Section
           3.3 Portfolio Section 
           3.4 Service Section 
           3.4 Prices Section 
           3.4 Team Section 
           3.4 Blog Section 
           3.4 Contact Section 
           3.4 Footer Section  
*/

/*
           
           
           
           */

/* 1- Common Styles */
/*
- overlay
- opacity hover
- section header
- section padding
- hover effect 1 ( left to right)
- hover effect 2 ( top to bottom)
*/

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.hover-opacity {
  transition: opacity 0.5s;
}

.hover-opacity:hover {
  opacity: 0.8;
}

.ltr-effect,
.tb-effect {
  position: relative;
}

.ltr-effect:after,
.tb-effect:after {
  position: absolute;
  content: "";
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0;
  background-color: #000;
  z-index: -1;
}

.ltr-effect:after {
  width: 0;
  transition: width 0.5s;
}

.tb-effect:after {
  height: 0;
  transition: height 0.5s;
}

.ltr-effect:hover:after {
  width: 100%;
}

.tb-effect:hover:after {
  height: 100%;
}

/* 2- General CSS Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  height: 20%;
  margin: auto;
}

body {
  font-family: "Varela Round", sans-serif;
}

.clear {
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat, sans-serif;
}

button {
  font-family: "Varela Round" sans-serif;
}

a {
  text-decoration: none;
}

.pd-y {
  padding: 150px 0;
}

.section-header {
  text-align: center;
}

.section-header .section-title {
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.section-header .line {
  display: block;
  height: 5px;
  width: 60px;
  margin: 0 auto 70px;
  background-color: #6195ff;
}

/* 3- Sections Styles */
/* 3    .0 Header Section */

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* other way to solve the float problem which let the parent dont feel in children and cause proplems for next elements*/
.header-content {
  overflow: hidden;
}

.header .logo {
  width: 30%;
  float: left;
}

.header .logo img {
  width: 30%;
  margin-top: 15px;
}

.header .nav {
  width: 70%;
  list-style: none;
  float: left;
  text-align: right;
}

.header .nav li {
  display: inline-block;
  width: 80px;
  text-align: right;
}

.header .nav li a {
  background-color: #999;
  font-weight: bold;
  font-size: 15px;
  color: #966;
  opacity: 0.9;
  text-decoration: none;
  display: block;
  padding: 20px 15px;
}
/*  
.header .nav li a > .active > a {
  color: aqua;
  background-color: chartreuse;
}
.nav > a:hover {
  color: aqua;
}  */

/* Home Section */

.home {
  height: 100vh;
  background-image: url(../images/background/personal.webp);
  background-size: cover; /* css3 */
  position: relative;
}

.home-content {
  position: absolute;
  width: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home .title {
  color: rgb(238, 236, 231);
  font-size: 2.5rem;
  text-transform: uppercase;
}

.home-desc {
  margin: 20px 0;
  color: #fff;
  letter-spacing: 2px;
  line-height: 1.5;
}

.home .btn {
  width: 160px;
  padding: 15px 0;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 18px;
}

.home .btn-start {
  margin-right: 10px;
  background-color: white;
}

.home .btn-learn {
  background-color: #6195ff;
  color: white;
}

/* About Section 
.about {
}*/

.about-content {
  overflow: hidden;
}

.about-item {
  width: 30%;
  float: left;
  text-align: center;
  border: 1px solid #e8e8e8;
  padding: auto 20px;
}

.about-item:hover .about-item-title {
  color: #fff;
}

.about-item.mg {
  margin: 0 5%;
}

.about-item .icon {
  color: #6195ff;
  margin-top: 5px;
  padding-bottom: 5px;
}

.about-item-title {
  text-transform: capitalize;
  margin-bottom: 10px;
  transition: color 0.5s;
}

.about-item-desc {
  color: #000;
  line-height: 1.6;
  margin-bottom: 10px;
}

.about-item-link {
  color: #7ba7ff;
  text-transform: capitalize;
}

.about-item:hover .about-item-desc {
  transition: 0.5s;
  color: #999;
}

/* Portfolio Section */
.portfolio {
  background: #f9f9f9;
}

.portfolio-content {
  overflow: hidden;
}

.portfolio-item {
  width: 30%;
  float: left;
  margin-bottom: 60px;
  position: relative;
  padding: 10px;
}

.portfolio-item .layer-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
}

.portfolio-item:hover .layer-content {
  opacity: 1;
  visibility: visible;
}

.layer-content .layer-info {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.layer-content .category {
  color: #6195ff;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
  top: 10px;
  position: relative;
  transition: top 0.5s;
  transition-delay: 0.5s;
}

.layer-content-title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
  top: 10px;
  position: relative;
  transition: top 0.5s;
  transition-delay: 0.5s;
}

.layer-content a {
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 10px;
  position: relative;
  background-color: #6195ff;
  transition: top 0.5s;
  transition-delay: 0.5s;
}

.layer-content a i {
  line-height: 40px;
}

.portfolio-item:hover .about-content-title,
.portfolio-item:hover .layer-content a,
.portfolio-item:hover .layer-content .category {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.portfolio-item.mg {
  margin: 0 5%;
}

.portfolio-item img {
  width: 100%;
}

/* Offer Section */
.offer {
  margin-top: 15em;
}

.offer-content {
  overflow: hidden;
}

.offer-item {
  width: 30%;
  float: left;
  margin-bottom: 20px;
  border: 1px solid #e8e8e8;
  padding: 30px 15px 30px 70px;
  position: relative;
}

.offer-item.mg {
  margin: 0 5%;
}

.offer-item .icon {
  position: absolute;
  left: 5px;
  top: 8px;
  color: #6195ff;
}

.offer-item-title {
  text-transform: capitalize;
  margin-bottom: 15px;
  transition: color 0.5s;
}

.offer-item-desc {
  text-transform: capitalize;
  margin-bottom: 15px;
  line-height: 1, 6;
}

.offer-item:hover .offer-item-title {
  color: #e8e8e8;
}

.offer-item:hover .offer-item-desc {
  transition: 0.5s;
  color: #999;
}

/* Service Section */
.service {
  margin-top: 15em;
  background-color: #f9f9f9;
}

.service-item {
  width: 50%;
  float: left;
}

.service-item .section-header {
  text-align: left;
}

.service-item .section-header .line {
  margin: 0 0 30px 0;
}

.service-item-desc {
  padding-right: 20px;
  color: #999;
  line-height: 1.5;
  font-size: 18px;
}

.service-list {
  list-style: none;
}

.service-list li {
  color: #999;
}

.service-list li i {
  border: 1px solid #6195ff;
  color: #6195ff;
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 50%;
}

.service-item-img img {
  width: 100%;
  margin-top: 90px;
}

.service-bollets {
  list-style: none;
  text-align: center;
}

.service-bollets li {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  margin: 20px 5px;
  border-radius: 50%;
}

.service-bollets li.active {
  background-color: #6195ff;
}

.service-bollets li:hover {
  background-color: #6195ff;
}

/* Numbers Section */

.num-sec {
  margin-top: 15em;
}

.numbers {
  position: relative;
  background-image: url(../images/background/background2.webp);
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

.numbers-items {
  overflow: hidden;
  padding: 100px 0;
}

.number-item {
  width: 25%;
  float: left;
  text-align: center;
}

.number-item .icon {
  color: #6195ff;
  margin-bottom: 0.5em;
}

.number-item-title {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  margin-bottom: 0.2em;
}

.number-item-text {
  color: #fff;
}

/*  Pricing Section   */

.pricing-plans {
  overflow: hidden;
}

.pricing-item {
  width: 30%;
  float: left;
  padding: 20px 15px;
  border: 1px solid #e8e8e8;
  text-align: center;
}

.pricing-item-text {
  text-transform: uppercase;
  font-size: 17px;
  color: #999;
  transition: color 0.5s;
}

.pricing-item.mg {
  margin: 0 5%;
}

.pricing-item-permonth {
  color: #000;
  width: 130px;
  height: 130px;
  transition: color 0.5s;
  padding: 25px 0;
  margin: 20px auto;
  border: 2px solid #6195ff;
  border-radius: 50%;
}

.pricing-item-permonth .dollar {
  font-size: 46px;
}

.pricing-item-permonth .month {
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

.pricing-list {
  list-style: none;
}

.pricing-list li {
  color: #999;
  line-height: 1.5;
}

.pricing-item-purchase {
  background: none;
  border: 0;
  display: block;
  width: 140px;
  padding: 10px;
  margin: 15px auto 0 auto;
  border: 2px solid #7ba7ff;
  color: #7ba7ff;
}

.pricing-item:hover .pricing-item-permonth {
  color: #fff;
}

.pricing-item:hover .pricing-item-text {
  color: #6195ff;
  font-weight: bold;
}

/* Team Section */
/* Blog Section */
/* Contact Section */
/* About Section */
